@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
@import "../../../node_modules/lightbox2/dist/css/lightbox.min.css";
@import "../../../node_modules/alertifyjs/build/css/alertify.min.css";

$owl-image-path: "../img/";
@import "../../../node_modules/owl.carousel/src/scss/owl.carousel";



.form-wrapper {
    display: none;
    &.active {
        display: block;
    }
}

.product-card__availability {
    display: block!important;
}

.product-card__buttons {
    display: block!important;
}

.nav-links__item {
    &.active {
        a {
            span {
                background: #ffe6a0;
            }
        }
    }
}

.category-child {
    display: inline-block;
    margin: 2px;
    a {
        padding: 5px 10px;
        background: #ffd333;
        color: #3d464d;
        text-decoration: none;
    }
}

.pagination-simple {
    margin-top: 30px;
    .load-more {
        display: inline-block;
        position: relative;
        padding: 10px;
        background: #ffd333;
        color: #3d464d;
        text-decoration: none;
        font-weight: bold;
    }
}

.indicator__button {
    height: 54px;
}

.products-list[data-layout=list] .product-card .product-card__addtocart {
    display: inline-block;
}
